body {
  color: rgb(52, 218, 19);
  background: black;
  margin: 0px;
  font-family: "chakra petch", sans-serif
}

header {
  border-bottom: solid 10px #31da1b;
  padding: 20px;
  font-size: 40px;
  color: rgb(23, 218, 98);
}

.chamada {
  background: rgb(188, 14, 231);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto {
  margin-right: 5%;
}

h1 {
  font-size: 40px;
}
2
p {
  font-size: 20px;
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}
.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

categoria1 {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}
.categoria-videos img {
  opacity: 0.5;
  height: 250px;
}

.categoria-videos img:hover {
  opacity: 1.0;
  border: 3px solid green;
}

.categoria h2 {
  color: rgb(29, 224, 39);
}